body{
    color: white;
background-color: black;
margin: 0px;
}

{
    background: rgb(184,156,213); 
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto { 
    margin-right: 5%
}